body
  font-family: 'Montserrat', sans-serif
  display: grid
  margin: 0
  min-height: 100vh
  grid-template-rows: auto 1fr auto

\:root
  --scrollbarBgColor: rgba(0, 0, 0, .05)
  --scrollbarThumbColor: rgba(136, 208, 231, .99)
  --scrollbarThumbColorSecond: rgba(240, 246, 246, .99)
  --scrollbarWidth: 16px
  --scrollbarBorder: 0 solid var(--scrollbarBgColor)
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4)


@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $units: px)
  $k: ($f-max - $f-min)/($v-max - $v-min)
  $b: $f-min - $k * $v-min
  $b: $b + $units
  @return calc(#{$k} * 100vw + #{$b})

.ffs
  font-size: calcFluidFontSize(16, 28, 1024, 2652, px)


.scroll-container
  scrollbar-width: var(--scrollbarWidth)
  scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor)

.scroll-container::-webkit-scrollbar
  width: var(--scrollbarWidth)

.scroll-container::-webkit-scrollbar-track
  background: var(--scrollbarBgColor)
  border-radius: var(--scrollbarBorderRadius)

.scroll-container::-webkit-scrollbar-thumb
  background-color: var(--scrollbarThumbColor)
  border-radius: var(--scrollbarBorderRadius)
  border: var(--scrollbarBorder)
  background-image: linear-gradient(180deg, var(--scrollbarThumbColor) 0%, var(--scrollbarThumbColorSecond) 90%)


.footer
  background-color: #cdeaee
  margin-top: 10px

.grid
  display: grid
  place-items: center

.authorize
  width: 100vw
  height: 100vh
  background: rgb(235, 244, 243)
  background: radial-gradient(circle, rgba(235, 244, 243, 1) 10%, rgba(93, 200, 214, 1) 100%)

  &-container
    width: 45vw

  &-form
    width: 100%
    margin-bottom: 10px

    &-span
      margin-bottom: 10px

      span
        font-style: italic
        font-weight: 500
        font-size: 25px

    &-logo
      justify-content: center
      margin-bottom: 25px

      .logo-img
        width: 20%

      .logo-title
        width: 75%

    &-input
      width: 70%
      margin: 1% 1%

      .input-login, .input-password, .input-name, .input-surname, .input-middle-name
        width: 100%
        height: 35px
        text-align: center
        border-radius: 15px
        border: 2px solid #1da1f2

        &:invalid
          border: 2px solid red

      .password-control
        position: relative
        bottom: 30px
        left: -200px
        display: inline-block
        width: 20px
        height: 20px
        background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat

      .password-control.view
        background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat


    &-recovery, &-registration
      .iksweb
      background: none
      margin-bottom: 10px

    &-wrapper
      grid-template-columns: auto

      .wrapper
        grid-template-columns: 1fr 1fr 1fr 1fr

.private
  &-title
    display: grid
    grid-template-columns: 0.65fr 2fr 2fr 0.65fr

    &-p
      display: grid
      grid-area: 1 / 2 / 2 / 4
      font-size: 30px
      text-align: center

    &-form
      display: grid
      grid-area: 1 / 4 / 2 / 5
      place-items: center

      &-button
        display: inline-block
        width: 80%
        height: 50%
        cursor: pointer
        font-size: 20px
        text-decoration: none
        color: #FFF
        background: #0095d9
        border-radius: 5px
        border: 0 solid #354251

        &:hover
          background: #FFF
          color: #0095d9
          border: 1px solid #0095d9
          transition: all 0.2s ease

  &-table
    display: grid
    grid-template-columns: 0.7fr 2.7fr 1fr 0.8fr 1fr
    background-color: #5dc8d6

    &-title
      place-items: stretch

    &-content
      background-color: #ebf4f3

      &:nth-child(2n)
        background-color: #cdeaee

      &-button
        display: inline-block
        width: 100%
        height: 100%
        cursor: pointer
        font-size: 19px
        text-decoration: none
        color: #FFF
        background: #0095d9
        border-radius: 5px
        border: 0 solid #354251
        padding: 1px 3px

        &:hover
          background: #FFF
          color: #0095d9
          border: 1px solid #0095d9
          transition: all 0.2s ease

    &-action
      display: grid
      place-items: center
      grid-template-columns: 1fr

      form
        display: grid
        width: 90%
        height: 90%

        button
          i
            font-size: 24px

.statistic
  &-title
    display: grid
    grid-template-columns: 0.65fr 2fr 2fr 0.65fr

    &-p
      display: grid
      grid-area: 1 / 2 / 2 / 4
      font-size: 30px
      text-align: center

    &-form
      display: grid
      grid-area: 1 / 4 / 2 / 5
      place-items: center

      &-button
        display: inline-block
        width: 80%
        height: 50%
        cursor: pointer
        font-size: 20px
        text-decoration: none
        color: #FFF
        background: #0095d9
        border-radius: 5px
        border: 0 solid #354251

        &:hover
          background: #FFF
          color: #0095d9
          border: 1px solid #0095d9
          transition: all 0.2s ease

  &-table
    display: grid
    grid-template-columns: 0.7fr 2.7fr 1fr 1fr 1fr
    background-color: #5dc8d6

    &-title
      place-items: stretch

    &-content
      background-color: #ebf4f3

      &:nth-child(2n)
        background-color: #cdeaee

      &-button
        display: inline-block
        width: 100%
        height: 100%
        cursor: pointer
        font-size: 19px
        text-decoration: none
        color: #FFF
        background: #0095d9
        border-radius: 5px
        border: 0 solid #354251
        padding: 1px 3px

        &:hover
          background: #FFF
          color: #0095d9
          border: 1px solid #0095d9
          transition: all 0.2s ease

    &-action
      display: grid
      place-items: center
      grid-template-columns: 1fr 1fr 1fr

      form
        display: grid
        width: 90%
        height: 90%

        button
          i
            font-size: 24px

.table-styles
  font-size: 20px
  place-items: center

.content-styles
  text-align: center

.test
  &-container
    grid-template-rows: min-content 45px auto 70px
    display: grid

  &-title
    display: grid
    grid-template-columns: 0.65fr 2fr 2fr 0.65fr

    &-p
      display: grid
      grid-area: 1 / 2 / 2 / 4
      font-size: 30px
      text-align: center

    &-form
      display: grid
      grid-area: 1 / 4 / 2 / 5
      place-items: center

      &-button
        display: inline-block
        width: 80%
        height: 50%
        cursor: pointer
        font-size: 20px
        text-decoration: none
        color: #FFF
        background: #0095d9
        border-radius: 5px
        border: 0 solid #354251

        &:hover
          background: #FFF
          color: #0095d9
          border: 1px solid #0095d9
          transition: all 0.2s ease

  &-table
    display: grid
    grid-template-columns: 0.7fr 2.7fr 1fr 1fr 1fr 0.8fr 1fr
    background-color: #5dc8d6

    &-title
      place-items: stretch

    &-content
      background-color: #ebf4f3

      &:nth-child(2n)
        background-color: #cdeaee

      &-button
        display: inline-block
        width: 100%
        height: 100%
        cursor: pointer
        font-size: 19px
        text-decoration: none
        color: #FFF
        background: #0095d9
        border-radius: 5px
        border: 0 solid #354251
        padding: 1px 3px

        &:hover
          background: #FFF
          color: #0095d9
          border: 1px solid #0095d9
          transition: all 0.2s ease

    &-action
      display: grid
      place-items: center
      grid-template-columns: 1fr 1fr 1fr

      form
        display: grid
        width: 90%
        height: 90%

        button
          i
            font-size: 24px

  &-question
    width: 85%
    min-height: 50px
    border-radius: 30px
    background-color: #cdeaee
    justify-self: center
    text-align: center
    line-height: 50px
    text-overflow: ellipsis
    word-wrap: break-word
    word-break: break-all
    margin: 5px 0
    padding: 25px

    &-title
      justify-self: center
      font-size: 24px
      font-weight: 600
      margin: 10px 0

      &-start
        justify-self: center

        p
          text-align: center

    &-container
      display: grid

  &-action
    &-block
      display: grid
      grid-template-rows: auto
      grid-template-columns: 1fr 250px 210px 1fr
      place-items: center
      margin: 20px 0 15px 0

      &.test-end
        grid-template-columns: 1fr 250px 1fr

      form
        display: grid
        min-width: 150px
        height: 50px
        background-color: #1da1f2
        border-radius: 10px
        outline: none
        justify-self: center

        input
          background-color: #1da1f2
          border-radius: 10px
          font-size: 18px
          font-weight: 600
          outline: none
          color: #fff
          border-style: none

          &:hover
            background-color: #5dc8d6

        &:first-child
          display: grid
          justify-self: end
        &:last-child
          display: grid
          justify-self: start

      &-start
        grid-template-columns: 1fr

        &-form
          justify-self: center !important

  &-answer
    cursor: pointer
    width: 95%
    height: 100%
    border-radius: 30px

    &-label
      display: inline-grid
      width: 90%
      height: 85%
      cursor: pointer
      background-color: #5dc8d6
      border-radius: 30px
      place-items: center
      padding: 15px

      &:hover
        background-color: #cdeaee

      + &-checkbox
        background-color: #cdeaee

      + &-label
        background-color: #cdeaee

    input[type="checkbox"], input[type="radio"]
      position: absolute
      z-index: -1
      opacity: 0

      & + label
        &::before
          content: ''
          display: inline-block
          position: absolute
          left: 2em
          width: 2em
          height: 2em
          border: 1px solid #adb5bd
          border-radius: 0.25em
          margin-right: 0.5em
          background-repeat: no-repeat
          background-position: center center
          background-size: 50% 50%

      &:checked + label::before
        border-color: #0095d9
        background-color: #0095d9
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")

      &:checked
        ~ .test-answer-label
          background-color: #0095d9

    input[type="radio"]
      & + label
        &::before
          border-radius: 50%

  &-answers
    &-container
      height: 100%
      margin-bottom: 20px
    &-block
      display: grid
      width: 100%
      height: 100%
      grid-template-columns: 1fr
      grid-template-rows: repeat(auto-fit, minmax(60px, max-content))
      grid-row-gap: 30px
      place-items: center

    &-title
      justify-self: center
      font-size: 24px
      font-weight: 600

      &-start
        justify-content: center

        p
          text-align: center

    &-input
      display: grid
      width: 150px
      height: 50px
      background-color: #1da1f2
      border-radius: 10px
      outline: none
      font-size: 18px
      font-weight: 600
      color: #fff
      border-style: none

      &:hover
        background-color: #5dc8d6

.newtest
  &-container
    grid-template-rows: 80px auto 45px
    gap: 5px
    justify-items: center
    align-items: start

  &-question
    grid-template-rows: auto
    grid-template-columns: 1fr 4fr
    width: 100%
    min-height: 30px
    background-color: #6bc6d8
    line-height: 30px
    margin: 5px 0

    &-input
      width: 95%
      height: 70%
      border-radius: 7px
      border: 2px solid #1da1f2

    p
      font-size: 26px
      font-weight: 600
      margin: 5px 5px

    &-title
      width: 100%
      justify-self: center
      font-size: 24px
      font-weight: 600
      margin: 10px 0
      background-color: #88d0e7

      p
        text-align: center
        margin: 0 5px

    &-container
      grid-template-rows: repeat(2, 40px)
      grid-template-columns: auto
      width: 100%
      form
        width: 100%

  &-action
    &-container
      grid-template-rows: auto
      grid-template-columns: 1fr 1fr
      width: 100%

    &-block
      grid-template-rows: auto
      grid-template-columns: 1fr 1fr
      gap: 2%
      width: 100%

      form
        display: grid
        width: 70%
        height: 40px
        background-color: #1da1f2
        border-radius: 10px

        input
          background-color: #1da1f2
          border-radius: 10px
          font-size: 18px
          font-weight: 600
          color: #FFF
          outline: none
          border-style: none

          &:hover
            background-color: #5dc8d6

        &:first-child
          display: grid
          justify-self: end

        &:last-child
          display: grid
          justify-self: start

      &-start
        grid-template-columns: 1fr

        &-form
          justify-self: center !important

  &-answer
    grid-template-rows: 1fr
    grid-template-columns: 35px auto
    cursor: pointer
    width: 100%
    height: 70%
    border-radius: 30px

    textarea
      width: 100%
      border-radius: 8px
      border-color: #0095d9

      &:focus-visible
        border: 1px solid #88d0e7
        outline: none

    &-title
      grid-template-rows: 25px auto
      grid-template-columns: auto
      width: 100%
      height: 100%

      label
        font-size: 22px
        margin-bottom: 8px

      textarea
        width: 80%
        height: 37px
        border-radius: 8px
        border-color: #0095d9

        &:focus-visible
          border: 1px solid #88d0e7
          outline: none

    &-type
      grid-template-rows: 25px
      grid-template-columns: 1fr 2fr
      width: 60%
      height: 100%
      line-height: 25px

      label
        font-size: 22px
        height: 100%

      select
        height: 100%
        width: 100%
        border-radius: 8px
        border-color: #0095d9

        &:focus-visible
          border: 1px solid #88d0e7
          outline: none

    &-add
      place-items: end
      input
        display: grid
        width: 200px
        height: 40px
        background-color: #1da1f2
        border-radius: 10px
        font-size: 18px
        font-weight: 600
        color: #FFF
        outline: none
        border-style: none

        &:hover
          background-color: #5dc8d6

    &-container
      grid-template-columns: auto
      grid-auto-rows: auto
      width: 80%
      height: 100%
      row-gap: 1vw

    &-label
      display: inline-grid
      width: 100%
      height: 100%
      cursor: pointer
      background-color: #5dc8d6
      border-radius: 30px
      text-align: center
      vertical-align: middle

      &:hover
        background-color: #cdeaee

      + &-checkbox
        background-color: #cdeaee

      + &-label
        background-color: #cdeaee

    input[type="checkbox"], input[type="radio"]

      &:checked
        ~ .newtest-answer-label
          background-color: #0095d9

  &-answers
    &-container
      grid-template-rows: 1fr
      grid-template-columns: 1fr 3.5fr
      width: 100%
      height: 100%
      column-gap: 0.75vw

    &-block
      margin: 5px 10px
      width: 100%
      height: 55vh
      grid-template-columns: auto
      grid-auto-rows: 1fr
      grid-auto-columns: 1fr
      margin-bottom: 10px
      justify-items: start
      align-items: start
      overflow-x: auto
      overflow-y: auto

    &-form
      grid-template-columns: auto
      grid-template-rows: 75px 25px auto 50px
      row-gap: 10px
      height: 100%
      width: 100%

      button
        background-color: #1da1f2
        border-radius: 10px
        font-size: 18px
        font-weight: 600
        color: #FFF
        height: 40px
        outline: none
        border-style: none

        &:hover
          background-color: #5dc8d6

    &-title
      height: 35px
      font-size: 24px
      font-weight: 600

      &-start
        justify-content: center

        p
          text-align: center

.result
  &-title
    justify-self: center
    font-size: 22px
    font-weight: 500
    margin: 10px 0

    p
      text-align: center

  &-action
    &-block
      display: grid
      grid-template-rows: auto
      grid-template-columns: 1fr 1fr
      place-items: center
      margin-bottom: 15px

      form
        display: grid
        width: auto
        height: 50px
        background-color: #1da1f2
        border-radius: 10px
        outline: none
        justify-self: center

        input
          background-color: #1da1f2
          border-radius: 10px
          font-size: 18px
          font-weight: 600
          outline: none
          color: #fff
          border-style: none

          &:hover
            background-color: #5dc8d6

        &:first-child
          display: grid
          justify-self: end
          margin-right: 25px

        &:last-child
          display: grid
          justify-self: start
          margin-left: 25px

.main-container
  display: grid
  grid-template-rows: 100vh
  grid-template-columns: 40% 60%

.header
  &-container
    display: grid
    grid-template-rows: auto auto

  &-rows
    display: grid

    &-1
      grid-template-rows: auto
      grid-template-columns: auto auto auto auto
      background-color: #cdeaee
      margin-bottom: 8px

    &-2
      grid-template-rows: auto
      grid-template-columns: min-content min-content 1fr min-content
      grid-auto-columns: min-content
      background-color: #ebf4f3
      place-items: center

    &-test
      grid-template-rows: auto
      grid-template-columns: min-content min-content 1fr min-content
      grid-auto-columns: min-content
      background-color: #ebf4f3
      place-items: center

    &-admin
      grid-template-rows: auto
      grid-template-columns: min-content min-content min-content 1fr min-content
      grid-column-gap: 5px
      background-color: #ebf4f3
      place-items: center

    &-3
      grid-template-rows: auto
      grid-template-columns: 1fr 3fr 100px
      background-color: #ebf4f3
      place-items: center

    &-4
      grid-template-rows: auto
      grid-template-columns: 4fr 100px
      background-color: #ebf4f3
      place-items: center

  &-columns
    display: grid

    &-menu
      display: grid
      place-self: stretch

      &-input
        cursor: pointer
        font-size: 25px
        text-decoration: none
        color: black
        background-color: #ebf4f3
        border: none
        width: 100%

        &:hover
          background: #cdeaee
          color: #ffffff
          border: none
          transition: all 0.2s ease

      .active
        background: #5dc8d6

    &-time
      display: grid
      place-self: stretch

      p
        text-align: center

    &-exit
      display: grid
      place-self: stretch

      &-input
        cursor: pointer
        font-size: 25px
        text-decoration: none
        color: black
        background-color: #ebf4f3
        border: none
        width: 100%

        &:hover
          background: #cdeaee
          color: #ffffff
          border: none
          transition: all 0.2s ease

      .active
        background: #5dc8d6

    &-output
      display: grid
      place-self: stretch

      &-p
        color: #0095d9
        font-size: 25px
        margin: 0
        text-align: end
        padding-right: 15px


  &-logo
    grid-area: 1 / 1 / 2 / 2

    &-img
      position: absolute
      left: 3vw
      top: 2vh
      width: 7%

  &-title
    display: grid
    place-items: center
    grid-area: 1 / 2 / 2 / 5

    &-image
      width: 65vw

    .right-img
      position: absolute
      right: 0
      top: 0
      width: 7%

.main-column
  display: grid
  place-items: center

  .right-img
    position: absolute
    right: 0
    top: 0
    width: 10%

  .logo-img
    position: absolute
    left: 3vw
    top: 2vh
    width: 8%

  .main-img
    height: 100vh
    margin-left: -10px

.row
  &-2
    grid-template-rows: repeat(2, 1fr)

.title
  margin-top: 5%

  &-img
    width: 45vw

  &-rows
    display: grid
    justify-content: end
    place-items: end
    grid-template-rows: auto auto auto auto auto
    grid-template-columns: 1fr

  &-column
    display: grid
    place-items: end
    justify-content: end
    margin-right: 10%

    &-description
      p
        color: #354251
        width: 55%
        text-align: end
        font-size: 14px
        margin-bottom: 70px

    &-entrance
      place-items: end
      margin-bottom: 40px

    &-social
      grid-template-rows: 1fr

.reg-container
  display: grid
  grid-template-rows: 1fr
  grid-gap: 5px
  grid-template-columns: auto auto auto

  p
    line-height: 2px

.entrance-button
  width: 300px
  height: 70px
  background: #2894e0
  position: relative
  text-align: center
  cursor: pointer
  transition: all 0.1s ease-in-out
  font-family: "Montserrat", sans-serif
  font-size: 32px
  font-weight: 600
  color: #FFF
  border: none

  &:hover
    opacity: 0.8
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2)

  &:active
    opacity: 1
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1)
    color: #354251

.iksweb
  display: inline-block
  cursor: pointer
  font-size: 14px
  text-decoration: none
  padding: 10px 20px
  color: #354251
  background: #fff
  border-radius: 0
  border: 0 solid #354251

  &:hover
    background: #2894e0
    color: #ffffff
    border: 0 solid #354251
    transition: all 0.2s ease

.wrapper
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  list-style-type: none
  margin: 5px 0
  padding: 0

.wrapper .icon
  position: relative
  background: #ffffff
  border-radius: 50%
  border: 1px solid #000
  padding: 7px
  margin: 5px
  width: 20px
  height: 20px
  font-size: 20px
  display: grid
  justify-content: center
  place-items: center
  flex-direction: column
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)
  cursor: pointer
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.wrapper .tooltip
  position: absolute
  top: 0
  font-size: 14px
  background: #ffffff
  color: #ffffff
  padding: 5px 8px
  border-radius: 5px
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)
  opacity: 0
  pointer-events: none
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.wrapper .tooltip::before
  position: absolute
  content: ""
  height: 8px
  width: 8px
  background: #ffffff
  bottom: -3px
  left: 50%
  transform: translate(-50%) rotate(45deg)
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.wrapper .icon:hover .tooltip
  top: -45px
  opacity: 1
  visibility: visible
  pointer-events: auto


.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1)


.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before
  background: #1877F2
  color: #ffffff


.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before
  background: #1DA1F2
  color: #ffffff


.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before
  background: #E4405F
  color: #ffffff


.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before
  background: #333333
  color: #ffffff


.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before
  background: #333333
  color: #ffffff

.wrapper .google:hover,
.wrapper .google:hover .tooltip,
.wrapper .google:hover .tooltip::before
  background: #000
  color: #ffffff

.treeCSS,
.treeCSS ul,
.treeCSS li
  margin: 0
  padding: 0
  line-height: 1
  list-style: none

.treeCSS ul
  margin: 0 0 0 .5em
/* вести линию вниз где-то с полбуквы родителя */

.treeCSS > li:not(:only-child),
.treeCSS li li
  position: relative
  padding: .2em 0 0 1.2em
/* отступ до текста; для раскрывающегося списка в ряде случаев (в Хроме есть баг) padding-top (.2em) лучше указывать в px */

.treeCSS li:not(:last-child)
  border-left: 1px solid #ccc
/* толщина, цвет и стиль (вместо сплошной пунктирная или точечная) вертикальной линии */

.treeCSS li li:before,
.treeCSS > li:not(:only-child):before
  /* горизонтальная линия */
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 1.1em
  /* не более отступа до текста (1.2em) */
  height: .7em
  /* начинается приблизительно с половины высоты буквы (.5em + .2em) */
  border-bottom: 1px solid #ccc

.treeCSS li:last-child:before
  /* вертикальная линия последнего пункта в каждом списке */
  width: calc(1.1em - 1px)
  /* для перфекционистов */
  border-left: 1px solid #ccc

.treeCSS .drop
  position: absolute
  left: -.5em
  top: .4em
  /* .2em (font-size: 80%;) + .2em (padding из .treeCSS li li) */
  width: .9em
  height: .9em
  line-height: .9em
  text-align: center
  background: #fff
  font-size: 80%
  cursor: pointer

.treeCSS li:last-child > .drop
  margin-left: 1px

.treeCSS .drop + ul
  display: none

.treeCSS .dropM + ul
  display: block