<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Система тестирования</h1>
<section>
    <div>
        <div>${time}</div><div>${name}</div> <div><a>Выход</a></div>
    </div>
    <div>
       <!-- <p>${idtest}</p>-->
        <p>Вопрос:</p>
        <p>${question}</p>
    </div>
    <div>Варианты ответов:</div>
    <#list answers as answer>
    <div >
        <input name= "answer" type="radio">${answer.name}</input>
    </div>
    </#list>
    <br>
    <form action="/back" method="post">
    <input  type="submit" value="Назад">
    </form>
    <form action="/skip" method="post">
        <input  type="submit" value="Пропустить">
    </form>
    <form action="/pass_test/${idtest}/answer" method="post">
        <input  type="submit" value="Ответить">
    </form>

    </div>
</section>
</body>
</html>