<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Регитсрация</h1>
<form action="/registration" method="post">
    <input name="login" placeholder="email">
    <br>
    <input name="name" placeholder="ФИО">
    <br>
    <input name="password" type="password" placeholder="Пароль">
    <br>
    <input type="submit" value="Сохранить">
</form>
</div>

</body>
</html>